# === Dossiers à ignorer ===
Output/
data/
logs/
.env/
venv/
__pycache__/

# === Fichiers Excel ===
*.xlsx

# === Jupyter notebooks spécifiques ===
valeurs_aberrantes.ipynb
02_prétraitement.ipynb
04_Traitement.ipynb
Analyse.ipynb
Analyses_statistiques.ipynb

dict.docx
# === Tous les notebooks (optionnel, décommente si tu veux tout ignorer) ===
# *.ipynb

# === Fichiers temporaires ===
*.tmp
*.log

# === Python ===
# *.pyc
# *.pyo
# *.pyd

# === OS ===
# .DS_Store
# Thumbs.db